html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
    opacity: 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
}

/* side nav materialize fix */
.side-nav li {
    padding: 0 30px;
}

.input-field label:not(.label-icon).active {
    transform: translateY(-60%) !important;
}

.margin-top {
    margin-top: 40px;
}

#map {
    height: calc(100% - 55px);
    width: 100%;
}

#markerHeading {
    font-size: 1.2rem;
}

.clickable {
    cursor: pointer;
}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}